/* only one CSS file. for general styling */
/* All component specific style is done with MUI in the component */

/* GENERIC */

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;700&display=swap');

html {
	margin: 0;
	padding: 0;
}

* {
	font-family: 'Readex Pro', sans-serif;
}

body {
	/* text-align: center; */
}

.content-wrap {
	/* Height of the footer */
}

/* ELEMENTS */

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	/* Height of the footer */
	width: 100%;
	background-color: rgb(245, 245, 245);
}

/* RESPONSIVE */

/* tablet size (usually disappear a part (side, column, ...)*/
/* @media (max-width:1100px){
	
}

/* phone size */
/* @media (max-width:500px){
	
} */


